@font-face {
	font-family: 'El Rio Lobo';
	src: url('../fonts/The_Emperors_font.eot');
	src: url('../fonts/The_Emperors_font.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/The_Emperors_font.woff') format('woff'),
		 url('../fonts/The_Emperors_font.ttf')  format('truetype'),
		 url('../fonts/The_Emperors_font.svg#04a895ec2b9535ff55881607625d1b84') format('svg');

	font-style: normal;
	font-weight: 400;
}
p.titulo {
	font-family: "El Rio Lobo";
	font-size: 250%;
	color:yellow;
	text-align:center;
	align-items: center;
	display: flex;
	justify-content: center;
	line-height: 40px;
	
  }

  #titulo2{
	font-size: 100%;
	color:white;
	text-align:center;
	font-weight: bold;
  }

.centeredimg {
	display: block;
    margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding-top: 50px;
}


.box-set {
	background: #eaeaed;
  }
  .box.box-1 {
	background:#A1243A;
	height: 250px;
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
  }
  .box.box-2 {
	background:#1489BD;
	height: 500px;
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.box.box-3 {
	background: black;
	height: 400px;
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
  }
  .box.box-4 {
	background: white;
	height: 300px;
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
  }

  .box.box-3 > .hijoimg {
	height: 400px;
	width: 100%; 
	height: fit-content;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
 }

 .text-block.block1 {
    position: absolute;
    bottom: 40px;
    right: 10px;
	text-align: right;
    color: white;
    padding-left: 20px;
	padding-right: 0px;
	font-family: "El Rio Lobo";
	font-size: 250%;
	color:#F1AE3F;

 }
 .text-block.block2 {
    position: absolute;
    bottom: 20px;
    right: 10px;
   text-align: right;
    color: white;
    padding-left: 20px;
	padding-right: 0px;
	font-weight: bold;

 }
 .text-block.block3 {
  
    text-align: center;
    color: white ;
	font-family: "El Rio Lobo";
	font-size: 250%;
	color:black;

 }

 ul{
    list-style-type: none;
}
li{

	padding: 10px;
}